*{ 
    margin: 0;/* 外边距 */
    padding: 0; /* 内边距 */
} 
.box{ /* 类注释 */
    float: left; 
    padding-right: 31.33%; 
    padding-bottom: 31.33%; 
    background-color: orange; 
    margin:1%; 
    border-radius: 10%; /* 圆角边框 */
    }